SECRET_KEY=<GENERATE-A-LONG-RANDOM-SECRET>
DEBUG=False

ALLOWED_HOSTS=api.girlhouse.shop

FRONTEND_BASE_URL=https://girlhouse.shop

CORS_ALLOWED_ORIGINS=https://girlhouse.shop

SECURE_SSL_REDIRECT=True
SECURE_HSTS_SECONDS=31536000

DB_ENGINE=django.db.backends.postgresql
DB_NAME=<RAILWAY_POSTGRES_DATABASE>
DB_USER=<RAILWAY_POSTGRES_USER>
DB_PASSWORD=<RAILWAY_POSTGRES_PASSWORD>
DB_HOST=<RAILWAY_POSTGRES_HOST>
DB_PORT=<RAILWAY_POSTGRES_PORT>

REDIS_URL=<RAILWAY_REDIS_URL>

EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=<YOUR_SMTP_HOST>
EMAIL_PORT=587
EMAIL_HOST_USER=<YOUR_SMTP_USERNAME>
EMAIL_HOST_PASSWORD=<YOUR_SMTP_PASSWORD>
EMAIL_USE_TLS=True
DEFAULT_FROM_EMAIL=orders@girlhouse.shop