.girlhouse-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3px; 
  text-align: center;
  cursor: pointer;
}

.logo-title {
  margin: 0;
  font-family: "GFS Didot", "Bodoni Moda", serif;
  font-size: 1rem;      
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.4em;  
  color: #a87b88;
  line-height: 1.3;          
}

.shop-line {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;              
}

.shop-line p {
  margin: 0;
  font-family: "Allura", cursive;
  font-size: 0.95rem;     
  line-height: 0.5;
  color: #b78895;
}


.shop-line span{
    width:60px;
    height:1px;
    background: linear-gradient(
        90deg,
        transparent 0%,
        #a87b88 20%,
        #f4e28a 50%,
        #b78895 75%,
        transparent 100%
    );
}